
::selection{
    color:teal;
    }


    h1{
        text-align: center;
        font-size: 40px;
        font-style: italic;
    }
    body{

        background-color:rgb(90, 39, 39) ;
        color: rgb(8, 8, 8);
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 500px 500px 500px 500px rgb(233, 24, 24);
       
      
      
    }
    .main{
  border-radius:100px;
   border:3px solid rgb(10, 10, 10);
   background: rgb(172, 116, 116);
  padding-left: 100px;
    float:left;
    position:relative;



    
    }
    
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twl{
    width:1000px;
    padding:20px;
    float:left;
    position:relative;
    box-shadow:0px 0px 10px rgb(8, 8, 8);
    margin:5px;
    text-align: center;
    border: 2px solid rgb(35, 35, 37);
    border-radius: 100px;
    
    }
    
    .input{
        text-align: center;
    width:700px;
    height:30px;
    border-radius: 100px;
    }
    label{
    font-size:25px;
    font-weight:bold;
    width:200px;
    margin-right:20px;
   
    }
    