.main{
    text-align: center;
    margin-top: 15%;
    color: black;
    font-style: italic;
    

}
body{
    background: rgb(48, 67, 240);
    
}
button{
    padding: 4px;
    width: 24%;
    font-style: italic;
    border-radius: 20px;background: rgb(86, 9, 88);
color: aliceblue;
}
input{
    padding: 5px;
    width: 23%;
    border-radius: 20px;
}